
*.sqlite
*.clover

# Generated docs
/docs/

# composer
/vendor/
/composer.lock
composer.phar
tools/

# phpunit, phpstan
.phpunit.result.cache
phpstan.neon
.phpunit.cache/test-results

# Documentation
phpDocumentor.phar
/.phpdoc/


# IDE
*.idea
*.code-workspace
.vscode
apiConcept.php